<div class="container-fluid" >
    <h3 class="text-center text-capitalize p-4" >Profile </h3>
        <div class="row" style="color: black;border: 1px solid black;">
          <div class="col-sm-4 text-center">
              <img class="img-thumbnail m-3" alt="NA" src="/assets/images/team4.jpg" width="284" style="height: 300px;">
              <a ><button type="button" class="btn btn-info btn-md m-4">Edit Profile Picture</button></a>
          </div>
          <div class="col-sm-8">
            <div class="modal-body">
              <table class="table table-striped  table-bordered" style="color:black;">
                <tbody>
                  <tr>
                      <td>Name</td>
                      <td>Ritik Jaiswal</td>
                  </tr>
                  <tr>
                      <td>Email-id</td>
                      <td>ritikjaiswal@gmail.com</td>
                  </tr>
                  <tr>
                      <td>Date Of Birth</td>
                      <td>17/09/1997</td>
                  </tr>
                  <tr>
                      <td>Gender</td>
                      <td>Male</td>
                  </tr>
                  <tr>
                      <td>Mobile Number</td>
                      <td>9876543210</td>
                  </tr>
                  <tr>
                      <td>Date Enrolled</td>
                      <td>26/10/2019</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
      </div>
      
      
